/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* html{
  background: url("assets/home_image_vertical.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
} */

* {
  box-sizing: border-box;
}
html{
  background: url("assets/home_image.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
    /* background-color: #89f191bf; */
    display: grid;
    grid-template-rows: 37vh 30vh;
    position: absolute;

    /* background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    background: linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); */
}

#main-header {
  text-align: center;
  font-size: 2.5em;
  position: relative;
  top: 12vh;
  color: white;

  height: 1.5em;
  width: 47vw;
  border: 1vh solid white;
  margin: 0 auto;
}

.nav-container {
  text-align: center;
  /* background: blueviolet; */
  display: grid;
  grid-template-rows: 1fr 2vh 1fr;
  align-items: center;
}

.spacer {
  margin: 0 auto;
  width: 42vw;
  height: 0vh;
  border: 5px solid white;
 }

.nav-link {
  display: block;
  font-size: 5vw;
  color: white;
  transition: 0.3s;
 }
 .nav-link:hover {
  transition-timing-function: linear;
  text-shadow: 0px 0px 9px white;
}


@media all and (max-width: 600px) {

  #main-header.tablet {
    text-align: center;
    font-size: 2.5em;
    position: relative;
    top: 12vh;
    color: white;
    height: 1.5em;
    width: 7em;
    border: 1vh solid white;
    margin: 0 auto;
  }
}


 /* portrait mode styles */
@media all and (max-width: 400px) {

  html{
    background: url("assets/home_image_vertical.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .main-wrapper.mobile {
    height: 100vh;
    width: 100vw;
    /* background-color: #89f191bf; */
    display: grid;
    grid-template-rows: 32vh 30vh;
    position: absolute;

    /* background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    background: linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); */
}

#main-header {
  text-align: center;
  font-size: 10vw;
  position: relative;
  top: 12vh;
  color: white;

  height: 8vh;
  width: 75vw;
}

.nav-container {
  text-align: center;
  /* background: blueviolet; */
  display: grid;
  grid-template-rows: 1fr 2vh 1fr;
  align-items: center;
}

.spacer {
  margin: 0 auto;
  width: 60vw;
  height: 0vh;
  border: 5px solid white;
 }

.nav-link {
  display: block;
  font-size: 8vw;
  color: white;
 }
}

/* landscape mode styles */
@media all and (max-height: 400px) {

  html{
    background: url("assets/home_image.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

  .main-wrapper.mobile.landscape {
      height: 100vh;
      width: 100vw;
      /* background-color: #89f191bf; */
      display: grid;
      grid-template-rows: 30vh 50vh;
      position: absolute;

      /* background: rgb(0,0,0);
      background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
      background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
      background: linear-gradient(0deg, rgba(0,0,0,0.7742714185393258) 1%, rgba(246,243,243,0) 5%, rgba(255,251,251,0) 95%, rgba(0,0,0,1) 99%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); */

  }
  #main-header.landscape {
    height: 16vh;
    text-align: center;
    font-size: 6.5vw;
    position: relative;
    top: 12vh;
    color: white;
  }

  .nav-container.landscape {
    text-align: center;
    /* background: blueviolet; */
    display: grid;
    grid-template-rows: 1fr 2vh 1fr;
    align-items: center;
  }

  .spacer.mobile.landscape {
    margin: 0 auto;
    width: 33vw;
    height: 0vh;
    border: 4px solid white;
   }

  .nav-link.landscape {
    display: block;
    font-size: 4vw;
    color: white;
   }
}
