/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
a {
	color: black;

}
a:visited {
	color: black;
}

.work-title {
	transition: 0.8s;
}

.work-title:hover {
	  transition-timing-function: linear;
	  background-color: #bcfac87d;
    box-shadow: inset 16px -43px 22px 47px #ffffff;
}

html{
  /* background: url("assets/drops2.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; */
}
/* - - - - - - - - - - - - - - - - - - - -  */
/* IPHONE 5 Small mobile - PORTRAIT */
@media all and (min-width: 319px){
	#work-header{
		color: black;
		margin: 3vh;
		text-align: center;
	}

	.main-wrapper{
		height: 90vh;
		width: 100vw;
		position: relative;
    top: 1vh;
		margin: 0 auto;
		display: grid;
		grid-auto-rows: 13vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.work-item{
		align-self: center;
		width: 88vw;
		position: relative;
		display: grid;
		grid-template-rows: 5vh 5vh;
		grid-template-columns: 7vw 93vw;
	}

	.bullet {
		color: black;
		align-self: center;
		grid-row-end: span 2;
		position: relative;
		left: 80%;
	}

	.work-item-title {
		color: black;
		font-size: 11pt;
		grid-row-start: 1;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}

	.spacer {
		color: black;
		position: relative;
		left: -5vw;
		grid-row-start: 1;
		grid-column-start: 2;
		width: 70vw;
		height: 0;
		margin: 0 auto;
		border: 1px solid;
		align-self: end;
	}

	.work-item-date {
		color: black;
		font-size: 11pt;
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}
}

@media all and (min-height: 319px){
	#work-header{
		margin: 3vh;
		text-align: center;
	}

	.main-wrapper{
		height: 90vh;
		width: 87vw;;
		position: relative;
    /* top: 6vh; */
		margin: 0 auto;
		display: grid;
		grid-auto-rows: 20vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.work-item{
		align-self: center;
		width: 88vw;
		position: relative;
		display: grid;
		grid-template-rows: 5vh 5vh;
		grid-template-columns: 7vw 93vw;
	}

	.bullet {
		align-self: center;
		grid-row-end: span 2;
		position: relative;
		left: 80%;
	}

	.work-item-title {
		font-size: 11pt;
		grid-row-start: 1;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}

	.spacer {
		position: relative;
		left: -5vw;
		grid-row-start: 1;
		grid-column-start: 2;
		width: 70vw;
		height: 0;
		margin: 0 auto;
		border: 1px solid;
		align-self: end;
	}

	.work-item-date {
		font-size: 11pt;
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}
}

/* - - - - - - - - - - - - - - - - - - - -  */
/* TABLET */
@media all and (min-width	: 768px){
	#work-header{
		margin: 7vh;
		text-align: center;
		font-size: 17pt;
	}
	.main-wrapper{
		height: 90vh;
    width: 100vw;
    margin: 2.5vh auto;
    display: grid;
    grid-auto-rows: 22vh;
    overflow-x: hidden;
    overflow-y: scroll;
	}

	.work-item{
		width: 70vw;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 7vw 93vw;
	}

	.bullet {
		align-self: center;
		grid-row-end: span 2;
		position: relative;
		left: 80%;
	}

	.work-item-title {
		font-size: 18pt;
		grid-row-start: 1;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}

	.spacer {
		position: relative;
		left: -15vw;
		grid-row-start: 1;
		grid-column-start: 2;
		width: 50vw;
		height: 0;
		margin: 0 auto;
		border: 1px solid;
		align-self: end;
	}

	.work-item-date {
		font-size: 17pt;
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}
}


/* - - - - - - - - - - - - - - - - - - - -  */
/* TABLET - PORTRAIT */
@media all and (min-width: 1024px){
	#work-header{
		font-size: 23pt;
		margin: 7vh;
		text-align: center;
	}
	.main-wrapper{
		height: 90vh;
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 22vh;
    overflow-x: hidden;
    overflow-y: scroll;
	}

	.work-item.{
		width: 70vw;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 7vw 93vw;
	}

	.bullet {
		font-size: 22pt;
		align-self: center;
		grid-row-end: span 2;
		position: relative;
		left: 80%;
	}

	.work-item-title {
		font-size: 22pt;
		grid-row-start: 1;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}

	.spacer {
		position: relative;
		left: -15vw;
		grid-row-start: 1;
		grid-column-start: 2;
		width: 50vw;
		height: 0;
		margin: 0 auto;
		border: 1px solid;
		align-self: end;
	}

	.work-item-date {
	  font-size: 21pt;
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}
}

/* - - - - - - - - - - - - - - - - - - - -  */
/* DESKTOP */
@media all and (min-width: 1300px){
	#work-header{
		/* background-color: blue; */
		font-size: 33pt;
		text-align: center;
	}
	.main-wrapper{
		hheight: 90vh;
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 22vh;
    overflow-x: hidden;
    overflow-y: scroll;
	}

	.work-item {
		width: 70vw;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 7vw 93vw;
		transition: 0.8s;
	}

	.bullet {
		align-self: center;
		grid-row-end: span 2;
		position: relative;
		left: 80%;
	}

	.work-item-title {
		font-size: 30pt;
		grid-row-start: 1;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}

	.spacer {
		position: relative;
		left: -15vw;
		grid-row-start: 1;
		grid-column-start: 2;
		width: 50vw;
		height: 0;
		margin: 0 auto;
		border: 1px solid;
		align-self: end;
	}

	.work-item-date {
		font-size: 29pt;
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
		position: relative;
		left: 7%;
	}
}
