/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* PORTRAIT MOBILE STYLES */
@media all and (max-width: 400px){

  #work-header{
    margin: 3vh;
    text-align: center;
    border: 1px solid;
  }

  .main-wrapper.portrait{
    height: 90vh;
    width: 87vw;
    margin: 0 auto;
    border: 1px solid;
    overflow: scroll;
    display: grid;
    grid-auto-rows: 16vw;
    grid-template-columns: 3vw auto;
  }

  .bullet {
    align-self: center;
    grid-row-end: span 2;
    position: relative;
    top: 7%;
    left: 80%;
  }

  .work-item.portrait{
    position: relative;
    grid-row-end: span 2;
    align-self: center;
    width: 100%;
  }

  .test{
    
  }

  .work-item-title {
    text-align: justify;
    width: 84%;
    padding-bottom: 1vh;
    position: relative;
    font-size: 16pt;
    margin: 0px auto;
  }

  .spacer.portrait {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid;
  }

  .work-item-date {
    text-align: justify;
    width: 84%;
    padding-top: 1vh;
    position: relative;
    font-size: 16pt;
    margin: 0px auto;
  }
}
