/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* PORTRAIT MOBILE STYLES */
@media all and (max-width: 400px){

  #work-header{
    margin: 3vh;
    text-align: center;
    /* border: 1px solid; */
  }

  .main-wrapper.portrait{
    height: 90vh;
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 13vh;
		overflow-x: hidden; //horizontal
	  overflow-y: scroll; //vertical

		/* border: 1px solid; */
  }

	.work-item.portrait{
		position: relative;
    display: grid;
    grid-template-rows: 5vh 5vh;
    grid-template-columns: 7vw 93vw;
  }

  .bullet {
    align-self: center;
    grid-row-end: span 2;
    position: relative;
    left: 80%;
  }

  .work-item-title {
		grid-row-start: 1;
    grid-column-start: 2;
    align-self: center;
    position: relative;
    left: 7%;
  }

  .spacer.portrait {
		position: relative;
    left: -5vw;
    grid-row-start: 1;
    grid-column-start: 2;
    width: 70vw;
    height: 0;
    margin: 0 auto;
    border: 1px solid;
    align-self: end;
  }

  .work-item-date {
		grid-row-start: 2;
		grid-column-start: 2;
		align-self: center;
    position: relative;
    left: 7%;
  }
}
